.t-table {
  color: var(--t-text-color);
  .t-table__thead-wrapper th {
    border-bottom: 1px solid var(--t-border-color);
  }
  .t-table__thead,
  .t-table__tbody {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
  }
  .t-table__thead tr > th,
  .t-table__tbody tr > td {
    padding: 8px 0;
    text-align: left;
  }
  .t-table__tbody tr {
    border-bottom: 1px solid var(--t-border-color);
    &:hover {
      background-color: var(--t-hover-color);
    }
  }
  .t-table__tbody--stripe {
    background-color: #f8f8f8;
  }
  .cell {
    padding: 0 10px;
  }
  .t-table__tbody .cell {
    display: flex;
    flex-wrap: wrap;
  }
}

.t-table--border {
  border: 1px solid var(--t-border-color);
  .t-table__thead-wrapper {
    th {
      border-bottom: none;
    }
  }
  .t-table__tbody tr:nth-last-child(1) {
    border: none;
  }
  .t-table__thead tr > th,
  .t-table__tbody tr > td {
    box-sizing: border-box;
    border-right: 1px solid var(--t-border-color);
  }
  .t-table__thead tr > th:nth-last-child(1),
  .t-table__tbody tr > td:nth-last-child(1) {
    border-right: none;
  }
  .t-table__tbody-wrapper::-webkit-scrollbar-track {
    border-left: 1px solid var(--t-border-color);
  }

  .t-table__tbody-wrapper {
    border-top: 1px solid var(--t-border-color);
  }
}

.t-table__tbody-wrapper {
  // 修改滚动条宽度
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar:horizontal {
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 4px;
  }
}
